.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}
.project-photo {
  width: 40%;
}
.project-info {
  margin-right: 24px;
}
.project-title {
  font-size: 20px;
  font-weight: 600;
}
.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}
.tag {
  padding: 4px 8px;
  background-color: aquamarine;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}
.project-links {
  margin-top: 6px;
  display: flex;
}
.project-links a {
  text-decoration: none;
  color: black;
}
